html{
    color: aqua;
    box-sizing: border-box;
    margin: 0;
    
    
}






h1,
h2 {
    color: rgba(138, 43, 226, 0.91);
    font-family:fantasy;
    font-size: 2.0em;
margin: 15px 15px 15px 15x
    
        
    
        
}

p{
   color: grey;
    font-family: cursive;

    
}



body{
    background-color: #f0b623
}

main{
  background-color: #f0b623;

    
}

a:hover {
    
    color:#c5c0d0
    
}

h1, p {
    
    color: beige;
font-size: 1.2em; 
    border-width: thick;
    border-style: double;
    border: 5px solid red;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 15px;
}


nav ul li a {
    
    color: beige
}

.somename{color:rebeccapurple}
.beep{color: blueviolet}


#summary2{
    
   font-size: 1.2em; 
    border-width: thick;
    border-style: double;
    border: 5px solid red;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 15px;
    
    
}




.summary2{
    
   font-size: 1.2em; 
    border-width: thick;
    border-style: double;
    border: 5px solid red;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 15px;
    
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto
    
}